.container {
    text-align: center;
    margin-top: 50px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

img {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}